@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 50px 0 55px;

  &__link {
    display: flex;
    align-items: center;
  }

  &__img {
    display: inline-block;
    margin-right: 13px;
  }

  &__text {
    font-size: 36px;
    font-weight: 500;
    line-height: 58px;
    color: $text;
    @extend %rubik-500;
  }
}

.menu {
  &__items {
    display: flex;
  }

  &__item {
    position: relative;
    transition: all .3s;
  }

  &__item:hover::after {
    content: '+';
    position: absolute;
    right: -12px;
  }
  
  &__item + &__item {
    margin-left: 30px;
  }

  &__item--active::after {
    content: '+';
    position: absolute;
    right: -12px;
  }

  &__link {
    font-size: 15px;
    color: $text;
    @extend %rubik-500;
  }
}

.nav-icons {
  display: flex;
  align-items: center;

  &__search {
    padding: 18px;
    background-color: $search;
    border-radius: 50%;
  }

  &__shop {
    display: flex;
    align-items: center;
    margin: 0 20px;
    background-image: url('../images/icons/background-shop.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__liked {
    margin: 22px 30px 12px 40px;
    position: relative;
  }

  &__border {
    margin: 9px 0 10px;
  }

  &__cart {
    margin: 22px 40px 12px 30px;
    position: relative;
  }

  &__num {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: $title;
    @extend %dmsans-400;
  }

  &__menu {
    padding: 15px;
    background-color: $button;
    border-radius: 50%;
  }
}

.footer {
  padding-top: 80px;

  &__container {
    width: 1170px;
  }
}

.footer-top {
  display: flex;
  border-bottom: 1px solid #dae4e9;
  padding-bottom: 100px;

  &__logo {
    margin-bottom: 25px;
  }

  &__contacts {
    max-width: 200px;
    margin-right: 100px;
  }

  &__contacts-link {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $bot-text;
  }

  &__services {
    width: 170px;
    margin-right: 130px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    color: $bot-title;
    margin: 22px 0 20px;
  }

  &__link {
    font-size: 14px;
    line-height: 32px;
    color: $bot-text;
  }

  &__account {
    width: 170px;
    margin-right: 130px;
  }

  &__newsletter {
    width: 270px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: $bot-text;
    margin-bottom: 35px;
  }

  &__form {
    display: flex;
  }

  &__input {
    width: 170px;
    height: 38px;
    border: none;
    padding: 13px;
    background-color: $accent;

    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %dmsans-400;
    }
  }

  &__button {
    width: 100px;
    height: 38px;
    border: none;
    background-color: $button;
    color: white;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: $bot-text;
  }

  &__items {
    display: flex;
  }

  &__item {
    padding: 0 12px;
  }

  &__item + &__item {
    position: relative;

    ::before {
      position: absolute;
      content: '|';
      font-size: 17px;
      line-height: 17px;
      left: 0;
      bottom: 9px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 32px;
    color: $bot-text;
  }
}

@import 'media';